body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  background-color: #15605e;
  color: #fff;
  padding: 32px;
  justify-content: space-between;
  @media (max-width: 1000px) {
    flex-direction: column;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.logo {
  height: 100px;
  @media (max-width: 1000px) {
    display: block;
    margin: auto;
  }
}

.heading{
  @media (min-width: 1001px){
    padding-left: 22%;
    padding-right: 11%;
    padding-top: 20px;
  }
  @media (max-width: 1000px){
    display: none;
  }
}
.nav-items {
  @media (min-width: 1001px) {
    margin-top: 30px;
    margin-left: 20px;
  }
  @media (max-width: 1000px) {
    margin-top: 20px;
    width: 100%;
  }
}
.nav-items ul {
  display: flex;
  gap: 19px;
  padding: 0;
  @media (max-width: 1000px) {
    display: flex;
    justify-content: space-around;
  }
}

.nav-items ul li {
  list-style: none;
}
.res-container {
  width: 90%;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.res-card {
  padding: 16px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0 gray;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}
.res-logo {
  width: 100%;
  border-radius: 5px;
}

.search{
  display: flex;
  justify-content:space-around;
  padding-top: 25px;
}

.search-btn{
  width: 85%;
  height: 25px;
  text-align: center;
  cursor: text;
}

.filter {
  display: flex;
  justify-content: center;
  margin: 32px 0 0 32px;
  @media (min-width:1001px) {
    padding-right: 2.5%;
  }
  @media (max-width:1000px){
    padding-right: 5%;
  }
}

.filter-btn-selected {
  background-color: #AAFF00;
  cursor: pointer;
}

.filter-btn-not-selected {
  background-color: #f0f0f0;
  cursor: pointer;
}

.shimmer-container {
  width: 90%;
  margin: 77px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.shimmer-card {
  padding: 16px;
  width: 200px;
  border-radius: 5px;
}
